*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

.hero-section{
  background: url("https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483__340.jpg")no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.overlay{
  box-shadow: 2px 5px 15px rgba(39,42,49,0.8);
}

.wrapper{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items: center;  
  height: 90%;
}

.heading{
  font-size: 2.5rem;
}

.info{
  background: #fff;
  width: 50%;
  line-height:1.5rem;
  font-size:1.5rem;
  padding:1rem;
  border-radius:5px;
  box-shadow: 1px 1px 5px rgba(39,42,49,0.8);
}

.mail{
  line-height:1.5rem;
  font-size:1rem;
}

.mail p a{
  text-decoration: underline;
}

.mail p a:hover{
    text-decoration: none;
}

.global-section{
  padding: 1rem;
}

.goals{
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  line-height:2rem;
  font-size:1rem;
}

.middle-logo{
  width:50%;
  margin:2rem auto;
  text-align: center;
  padding: 1rem;
  border: 0.5px solid #D3D3D3;
}

.middle-logo i{
  font-size: 4rem;
}

.middle-logo a{
  font-size: 3rem;
}

.past-text{
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

.past-grid{
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.past{
  width: 20rem;
  height: 15rem
}
.past1 + .past2{
  margin-left: 1rem;
}
 
.past1{
  background: url("https://developersummit.com/assets/img/PurplePanel_Images7.png")no-repeat;
  background-position: center;
  background-size: contain;
}

.past2{
  background: url("https://cdn.pixabay.com/photo/2016/10/09/08/32/digital-marketing-1725340__340.jpg");
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width:768px){

.mobile-nav{
  display: block;
}

.fa-bars{
  text-align: left ;
}

  .info{
    background: #fff;
    width: 90%;
  }

  .goals{
    width: 90%;
  }
  
.middle-logo{
  width:90%;
  padding: 1rem;
}

.middle-logo i{
  font-size: 3rem;
}

.middle-logo a{
  font-size: 1.5rem;
}
}