*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}
/* Navigation styling */
/* 
bg-dark #272A31
dark #272A31
bg-orange #EC5242
orange  #EC5242
bg-grey #D3D3D3
grey #D3D3D3
 */
 /* Color */
 .bg-dark {background: #272A31;}
 .dark{color: #272A31}
 .bg-orange {background: #EC5242;}
 .orange { color:#EC5242;}
 .bg-grey {background: #D3D3D3;}
 .grey{color: #D3D3D3;}
 
 /* Navigation Style */

 .nav-top{
    display: flex;
    justify-content: flex-end;
    padding-right: 15rem;
 }

 .nav-top a{
   font-size: 1rem;
    padding:0.5rem 1rem;
    text-decoration: none;
 }

 .nav-top a i{
   padding: 0 0.5rem;
 }

 i,a{
  cursor: pointer;
  text-decoration: none;
 }

 .main-nav{
   padding: 0 5rem;
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 1fr;
   box-shadow: 1px 1px 5px rgba(39,42,49,0.8);
 }

 .nav-right{
  display: flex;
  justify-content: flex-end;
 }

 .nav-links .links{
   display: inline-block;
   font-size: 1rem;
   padding: 1rem 2rem;
   opacity: 0.8;
 }

 .links:hover ,.links:active{
   border-bottom: 3px solid #EC5242;
   cursor: pointer;  
   transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
   opacity: 1;
 }

 .nav-left i{
  font-size: 3rem;
  margin-top: 0.3rem;
  opacity: 0.8;
 }

 .nav-left i:hover{
   opacity: 1;
 }

 .DevSummit{
   border: 4px solid #EC5242;
   padding:0.5rem;
 }

 /* Hero style */
 .hero-section{
   height: 80vh;
   background: url("https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776__340.jpg")no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
 }

 .overlay{
   position: aboslute;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 100%;
  background: #D3D3D3;  
   opacity: 0.7;
 }

 .overlay .top-text{
  font-size: 2.5rem;
  position: absolute;
  top: 4rem;
  left: 4rem;
 }

 .overlay .middle-text{
  font-size: 1rem;
  position: absolute;
  bottom: 10rem;
  left: 4rem;
  width: 40%;
  line-height: 2rem;
 }

 .overlay .bottom-text{
  font-size: 2rem;
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  width: 40%;
 text-transform: capitalize;
 }

 /* Main-Program Style */

 .main-program{
   /* height: 60vh; */
   background: url("https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665__340.jpg")no-repeat;
   background-size: cover;
   background-position: center;
   padding: 2rem;
 }

 .main-head{
   font-size: 1.8rem;
   text-align: center;
   padding-bottom: 0.5rem;
   width: 15%;
   margin: 0 auto;
   position: relative;
   border-bottom: 2px solid #EC5242;
  }

  .main-event{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    padding-top:0.5em ;
  }
  
  .box{
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D3D3D3;
    opacity: 0.7;
    border-radius: 5px;
    cursor: pointer;
  }

  .box-icon{
    font-size: 3rem;
    font-weight: bolder;
  }

  .box-title{
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .box-text{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #272A31;
  }

  .box:hover{
    border: 1px solid #EC5242;
  }

  .see-prog{
    font-size: 1.5rem;
    font-variant: small-caps;
    text-align: center;
    padding-top: 1rem;
    width: 20%;
    margin: 0 auto;
    text-decoration: underline;
    color: #D3D3D3;
  }
 
  .feature{
    width: 18%;
  }

.speaker-container{
   background: lawngreen; 
}

.speaker-grid{
  display:grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

 .speaker{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 }

.speaker-img{
  background: aqua;
  width: 2rem;
  height: 2rem;
}


 /* https://cdn.pixabay.com/photo/2014/07/14/21/53/cobblestones-393455__340.jpg */
 /* https://cdn.pixabay.com/photo/2015/09/18/11/38/surface-945444__340.jpg */
 /* https://media.istockphoto.com/photos/dust-scratches-black-background-distressed-layer-picture-id1166511133?b=1&k=6&m=1166511133&s=170667a&w=0&h=K1HdZpnk-nx5L8KCz3uJHGd_MO91VKfxG_nfqw6FB8g= */